html, body {
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	/*height: 50%;*/
	/*padding: 0px;*/
	font-family: "Segoe UI", sans-serif;
	font-size: 1.5vw;
	margin-left: 5%;
	margin-right: 5%;
	font-size: clamp(20px, 1.75vw, 1.75vw);
}

@font-face {
    font-family: MicroExtendFLF-Bold;
    src: url("MicroExt/MicroExtendFLF-Bold.ttf");
}

@font-face {
    font-family: MicroExtendFLF;
    src: url("MicroExt/MicroExtendFLF.ttf");
}

.flex-container {
	display: flex;
	margin-top: 5%;
	flex-wrap: wrap;
	/*margin-left: 7.5%;
	margin-right: 7.5%;*/
	/*width: 80vw;*/
	/*background-color: #9cdbf7;*/
}

.name-bio {
	display: flex;
	flex-direction: column;
	width: 70%;
	padding: 30px;
	background-color: #95e394;
	border-radius: 20px;
}

.name {
	font-size: clamp(50px, 8vw, 125px);
	font-family: 'MicroExtendFLF-Bold';
}

.bio {
	margin-top: 2.5%;
}

.gif_me {
	margin-left: 3%;
	margin-top: 5%;
	max-width:20%;
/*	object-fit: cover;*/
	/*background-color: #9cdbf7;*/
}

.me {
	border-radius: 50%;
	min-width:125px;
	max-width:100%;
}

.advice {
	font-size: clamp(17px, 1.5vw, 1.5vw);
	margin-top: 5%;
	margin-bottom: 5px;
	/*font-family: 'MicroExtendFLF';*/
}

#advice {
	margin-bottom: 5px;
}

#by {
	font-style: italic;
}


.projects {
/*	font-size: clamp(20px, 1.5vw, 1.5vw);*/
/*	font-family: 'MicroExtendFLF-Bold';*/
	margin-top: 10%;
}