html, body {
	font-family: "Segoe UI", sans-serif;
	font-size: 1.5vw;
	margin-left: 2.5%;
	margin-right: 2.5%;
	font-size: clamp(20px, 1.75vw, 1.75vw);
}

@font-face {
    font-family: MicroExtendFLF-Bold;
    src: url("resources/MicroExt/MicroExtendFLF-Bold.ttf");
}

@font-face {
    font-family: MicroExtendFLF;
    src: url("resources/MicroExt/MicroExtendFLF.ttf");
}

.flex-container {
	display: flex;
	margin-top: 5%;
	flex-wrap: wrap;
}

.name-bio {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 30px;
	background-color: #95e394;
	border-radius: 20px;
}

.name {
	font-size: clamp(40px, 8vw, 125px);
	font-family: 'MicroExtendFLF-Bold';
}

.bio {
	margin-top: 2.5%;
}

.gif_me {
	margin-left: 3%;
	margin-top: 5%;
	max-width:20%;
}

.me {
	border-radius: 50%;
	min-width:125px;
	max-width:100%;
}

.advice {
	font-size: clamp(17px, 1.5vw, 1.5vw);
	margin-top: 5%;
	margin-bottom: 5px;
	/*font-family: 'MicroExtendFLF';*/
}

#advice {
	margin-bottom: 5px;
}

#by {
	font-style: italic;
}

@media only screen and (max-width: 800px) {
	.flex-container {
		flex-direction: column;
	}
}


.projects {
	margin-top: 10%;
}