html, body {
	scroll-behavior: smooth;
	margin: 0px;
}

:target {
    scroll-margin-top: 70px;
}

@font-face {
    font-family: MicroExtendFLF-Bold;
    src: url("resources/MicroExt/MicroExtendFLF-Bold.ttf");
}

@font-face {
    font-family: MicroExtendFLF;
    src: url("resources/MicroExt/MicroExtendFLF.ttf");
}

.navbar {
	display:flex;
	font-size: clamp(20px, 1.25vw, 1.25vw);
/*	margin-left: 2.5%;
	margin-right: 2.5%;*/
	background-color: white;
	position: fixed;
	width:100%;
	margin:0;
	top: 0;
	height:60px;
	align-items: center;
	/*border-bottom: 1.5px solid;*/
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	z-index:1;
}

.navbar-right {
  float: right;
}

#desk {
	/*margin-top: 1%;*/
	height: 50px;
	margin-left: 1em;
}

.navbar-right {
	margin-right: 1em;
	margin-left: auto;
	align-items: center;
	display:flex;
	flex-direction: row;
}

.main-content{
	font-family: "optima", sans-serif;
	margin-left: 10%;
	margin-right: 10%;
	font-size: clamp(20px, 1.75vw, 1.75vw);
}

.home{
/*	width: 100vw;*/
	display: flex;
    height: 100vh;
    flex-direction: column;
}

.name-bio-pic {
	display: flex;
	padding-top: 100px;
	flex-wrap: wrap;
/*	margin-left: 5%;
	margin-right: 5%;*/
}

.name-bio {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 30px;
	background-color: #f68e69;
	border-radius: 20px;
	/*margin-right: 5%;*/
	max-width: 750px;
}

.name {
	font-size: clamp(40px, 8vw, 125px);
	font-family: 'MicroExtendFLF-Bold';
}

.bio {
	margin-top: 2.5%;
}

.gif_me {
	margin: auto;
	max-width:250px;
}

#me {
	border-radius:50%;
	min-width:125px;
	max-width:100%;
}

.quote {
	/*font-size: clamp(17px, 1.5vw, 1.5vw);*/
	/*margin-top: 5%;*/
/*	margin-left: 5%;
	margin-right: 5%;*/
	margin-top: auto;
	display: flex;
	/*position:relative;*/
	/*bottom:40px;*/
	align-items: center;
}

#redo {
/*	margin-top: 1em;*/
	cursor: pointer;
}


/*#by {
	font-size: clamp(10px, 1.25vw, 1.25vw);
}*/

.projects {
	height: 100vh;
}

.contact {
	height: 100vh;
}

@media only screen and (max-width: 800px) {
	.main-content{
		margin-left: 5%;
		margin-right: 5%;
	}

	.name-bio-pic {
		flex-direction: column;
	}
	.main-content{
		font-family: "optima", sans-serif;
		margin-left: 10%;
		margin-right: 10%;
		font-size: clamp(15px, 1.75vw, 1.75vw);
	}
	.gif_me {
		margin: auto;
		width:70%;
	}

	#me {
		margin-top: 3%;
		/*width:80%;*/
	}
}